#d1
{
	width:1500;
	top:0px;
	left:0;
	height:280px;
	position:relative;
    background-color:#5799e5;
	text-align:center;
	font-size:60px;
	 
}
#img
{
    width:100%;
	top:0px;
	left:0;
	height:280px;
	position:relative;
    opacity:0.9;
	
}

#d2
{
	width:140px;
	height:30px;
	top:293px;
	border-top-right-radius:0px;
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
	padding:20px;
	background-color:#030303;
	left:80px;
	position:absolute;	
	font-size:28px;
	color:fff;
	box-shadow:10px 10px 10px #999;
	text-align:center;
	opacity:.8;
	
}
#d3
{
	width:140px;
	height:30px;
		border-top-right-radius:0px;
	border-top-left-radius:0px;
	padding:20px;
	background-color:#000407;
    left:275px;
	top:293px;
	position:absolute;	
	font-size:28px;
	box-shadow:10px 10px 10px #999;
	text-align:center;
	opacity:.8;
	color:fff;
}

#d4
{
	width:145px;
	height:30px;
		border-top-right-radius:0px;
	border-top-left-radius:0px;
	padding:20px;
	background-color:#000307;
	margin-left:60px;
	position:absolute;	
	left:410px;
	top:293px;
	font-size:26px;
	box-shadow:10px 10px 10px #999;
	text-align:center;
	opacity:.8;
	color:fff;
	
}

#d5
{
	width:140px;
	height:30px;
		border-top-right-radius:0px;
		border-top-left-radius:0px;
	font-size:28px;
	padding:20px;
	background-color:#01070c;
	margin-left:60px;
	position:absolute;	
	left:605px;
	top:293px;
	box-shadow:10px 10px 10px #999;
	text-align:center;
	opacity:.8;
	color:fff;
}

#d6
{
	width:140px;
	height:30px;
	border-top-right-radius:0px;
	border-top-left-radius:0px;
	font-size:28px;
	padding:20px;
	background-color:#000509;
	margin-left:60px;
	position:absolute;
	top:293px;
	left:800px;
	box-shadow:10px 10px 10px #999;
	text-align:center;
	opacity:.8;
	color:fff;
}
#d7
{
	width:140px;
	height:30px;
	border-top-right-radius:0px;
	border-top-left-radius:0px;
	font-size:28px;
	padding:20px;
	background-color:#00050a;
	margin-left:60px;
	position:absolute;
	top:293px;
	left:995px;
	box-shadow:10px 10px 10px #999;
	text-align:center;
	opacity:.8;
	color:fff;
}
#d8
{
	width:140px;
	height:30px;
	border-top-right-radius:0px;
	border-top-left-radius:0px;
	font-size:28px;
	padding:20px;
	background-color:#000305;
	margin-left:60px;
	position:absolute;
	top:293px;
	left:1195px;
	box-shadow:10px 10px 10px #999;
	text-align:center;
	opacity:.8;
	color:fff;
}
#d11
{
	position:absolute;
	top:415px;
	left:20px;
	width:540px;
	height:700px;
	background-color:#e4e4e4;
	
}
#d111
{
	position:absolute;
	top:715px;
	left:20px;
	width:540px;
	height:400px;
	background-color:#fff;
	font-size:22px;
	font-family:aparajita ;
	
}
#img1
{
	position:absolute;
	top:415px;
	left:20px;
	width:540px;
	height:300px;
	
	
}
#d12
{
	position:absolute;
	top:415px;
	left:580px;
	width:750px;
	height:700px;
	background-color:#e4e4e4;
	
}
#d13
{
	position:absolute;
	top:450px;
	left:680px;
	width:550px;
	height:370px;
	background-color:#393942;
	
}
#d15
{
	position:absolute;
	top:830px;
	left:680px;
	width:550px;
	height:280px;
	background-color:#f5f6f7;
}
#d17
{
	position:absolute;
	top:1075px;
	left:680px;
	width:550px;
	height:35px;
	background-color:#000;
	color:#fff;
	font-size:22px;
	font-family:lucida handwriting;
}
#d16
{
	position:absolute;
	top:820px;
	left:910px;
	width:300px;
	height:220px;
	font-family:Berlin Sans FB;
	background-color:#fff;
	font-size:19px;
}
#p1
{
	margin-left:57px;
    margin-top:57px;
	font-size:24px;
	color:#fff;
	
	line-height:30px;
	font-family:rockwell;
}
#d14
{
	position:absolute;
	top:1150px;
	width:100%;
	height:86px;
	background-color:#c0c0c0;
	text-align:center;
	
}
#pp
{
margin-top:30px;
}
#d2:hover
{
    background-color:orange;
	box-shadow:none;
}
#d3:hover
{
    background-color:orange;
	box-shadow:none;
}
#d4:hover
{
    background-color:orange;
	box-shadow:none;
}
#d5:hover
{
    background-color:orange;
	box-shadow:none;
}
#d6:hover
{
    background-color:orange;
	box-shadow:none;
}
#d7:hover
{
    background-color:orange;
	box-shadow:none;
}
#d8:hover
{
    background-color:orange;
	box-shadow:none;
}